.H2{
	font-size: 40px;
	margin-left: 22%;
    margin-top: 6%;
}

.Img1{

	margin-left: 36%;
	border: 3px solid black;
}

.H4{

	font-size: 30px;
    margin-left: 42%;
    color: red;	
}

.H5{

    font-size: 30px;
    margin-left: 42%;
    color: red;	  

}